includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max
    paths:
        - app
        - routes
        - database
        - config

    excludePaths:
        - tests
        - bootstrap
        - storage
        - public
        - vendor

    checkMissingVarTagTypehint: false
    checkUninitializedProperties: true